html,body{
  margin:0;
  padding: 0;
}

body{
 overflow: hidden;
 background-color: black;
}

.start-title
{
  width: 1150px;
}

.start-title h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.home{
  display: block;
}

.game{
  display: none;
  color: white;

}

#logo {
  font-size: 1000%;
  transition: 1.5s all;
  display: block;
  color: white;
}


.start-title{
  font-size: 300%;
  transition: 1.5s all;
  display: block;
  color: white;
  margin: 100px 0;
}

#btn_voltar{
  display: block;

}
.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}

#goal{
  font-size: 1000%;
  transition: 1.5s all;
  display: inline-block;
  color: #000000;
}

#left{
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;
  float: left;
}

#right{
  position: relative;
  width: 30px;
  height: 200px;
  background-color: white;    
  float: right;
}

#ball{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color:white;
  border-radius: 50%;
}

#deli,#scoreleft,#scoreright{
  font-size: 1000%;
  color: white;
  z-index: 10;
}