*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);

}
body::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(7, 96, 131);
  filter: blur(100px);
  z-index: 1;
}
main{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 6px;
  z-index: 3;
}
main .home{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
@media(max-width: 906px){
  main .home{
    flex-direction: column;
    text-align: center;
  }
  
  main .home .info{
    align-items: center;
  }
  main .home .info h1{
    font-size: 5rem;
    white-space: normal;
  }
  main .home .info .start-title span{
    font-size: 1.6rem;
  }
}
main .home .image-place{
  flex: 1 0 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .home img{
  max-width: 620px;
  height: auto;
  width: 100%;
}

.info{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 6px 10px;
}

.info h1 {
  white-space: nowrap;
  font-size: 6rem;
  font-weight: bold;
  transition: 1.5s all;
  color: #fff;
  letter-spacing: 7px;
  text-shadow: 2px 10px 6px rgb(0 0 0 /15%);
}

.info .start-title{
  margin-top: 10px;
  width: 55%;
  transition: 1.5s all;
  text-shadow: 2px 6px 6px rgb(0 0 0 /15%);

}
.info .start-title div{
  border-right: .15em solid #eee;
  overflow: hidden;
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}
.info .start-title div span{
  font-size: 2rem; 
  white-space: nowrap;
  color: #eee;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #eee; }
}
.button-group{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.button {
  max-width: 320px;
  width: 100%;
  height: 50px;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 6px;
  outline: 0;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 6px 6px rgb(0 0 0 /15%);
  cursor: pointer;
  position: relative;
  background-color: #19a5f0;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s;
}

.button:hover {
  background-color: #fff;
  color: #0073df;
  box-shadow: 2px 6px 6px rgb(0 0 0 /15%);
}

.game{
  display: none;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0
}

.game .camp{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game .score{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game .options{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
#btn_voltar{
  display: block;
  margin: 0 auto;
  position: relative;
}

#goal{
  font-size: 1000%;
  transition: 1.5s all;
  display: inline-block;
  position: absolute;
  color: transparent;
}

#left-player-div, #right-player-div{
  position: relative;
  width: 30px;
  height: 200px;
}

#left-player-div{
  background-color: #0073df;
}

#right-player-div {
  background-color: #e90000;    
}

#ball{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color:#d6e600;
  border-radius: 50%;
}

#deli,#scoreleft,#scoreright{
  font-size: 1000%;
  color: white;
  z-index: 10;
}